<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>alearys</title>
    </head>
    <body>
        <div id="show">
            <h1>Nouvelle fiche</h1>
            <form action="/Alearys/fiche/add/new" method="post">
                <br><br>
                <input type="text" name="nom" placeholder="Nom :"><br>
                <input type="text" name="race" placeholder="Race :"><br>
                <input type="text" name="taille" placeholder="Taille :"><br>
                <input type="text" name="poid" placeholder="Poid :"><br>
                <input type="text" name="age" placeholder="Age :"><br>
                <br>
                <textarea name="texter" rows="10" cols="50" placeholder="Entré les détail ici"></textarea><br>
                <button type="submit">validé</button>
            </form>
            <form action="/Alearys">
                <button type="submit">Go back</button>
            </form>
        </div>
    </body>
</html>